@import "bootstrap/dist/css/bootstrap.min.css";
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
body {
  font-family: "Rethink Sans", sans-serif;
}
.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.height-body {
  margin-bottom: 80px;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
